
        <!-- <thead>
          <tr>
            <th>Day</th>
            <th>Description</th>
            <th>Temperature: High/Low</th>
            <th>Wind</th>
            <th>Barometric Pressure</th>
          </tr>
        </thead> -->
        <!-- <tbody *ngFor="let day of dailyForecast"> -->

          <!-- <tr> -->
            <!-- <td>{{ day.day }}</td>
            <td>{{ day.weatherDesc }}</td>
            <td>{{ day.max_temp }}˚/{{ day.min_temp }}˚</td>
            <td>{{ day.windSpeed }} mph</td>
            <td>{{ day.pressure }}</td> -->
          <!-- </tr> -->

