<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <input  type="email" 
              class="form-control" 
              id="username" 
              (input)="getCity($event)" />
      <button class="submit"
              (click)="getCurrentWeather()">Submit</button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngFor="let weather of weatherInfo">
      <div class="jumbotron">

        <h1>
          {{ weather.city }} {{ weather.country }} {{ weather.temp }}˚
        </h1>
        <p>Forecast: {{ weather.forecast }} </p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="get5DayForecast()">5-Day Forecast</button>
    </div>
  </div>
</div>>