<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <input  type="email" 
              class="form-control" 
              id="username" 
              (input)="getCity($event)" />
      <button class="submit"
              (click)="getCurrentWeather()">Submit</button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngFor="let weather of weatherInfo">
      <div class="jumbotron">

        <h1>
          {{ weather.city }} {{ weather.country }} {{ weather.temp }}˚
        </h1>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success" (click)="get5DayForecast()">5 Day</button>
      <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th>Day</th>
            <th>Description</th>
            <th>Temperature: High/Low</th>
            <th>Wind</th>
            <th>Barometric Pressure</th>
          </tr>
        </thead>
        <tbody *ngFor="let day of dailyForecast">
          <tr>
            <td>{{ day.day }}</td>
            <td>{{ day.weatherDesc }}</td>
            <td>{{ day.max_temp }}˚/{{ day.min_temp }}˚</td>
            <td>{{ day.windSpeed }} mph</td>
            <td>{{ day.pressure }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>>