<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <input  type="email" 
              class="form-control" 
              id="username" 
              (input)="getCity($event)" />
      <button class="submit"
              (click)="getCurrentWeather()">Submit</button>
      <button class="button"
              (click)="get5DayForecast()">5 Day Forecast</button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" *ngFor="let weather of weatherInfo">
      <div class="jumbotron" [style.backgroundImage]="'url('+ weather.img +')'">
        <h1>
          {{ weather.city }} {{ weather.country }} {{ weather.temp }}˚ {{ time }}
        </h1>
        <h3>{{ weather.forecast }}</h3>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <input type="text" class="form-control" id="username" (input)="getImageText($event)" />
    <input type="text" class="form-control" id="username" (input)="getImagePath($event)" />
    <button (click)="submitImages()">submit images stuff</button>
  </div>
  <div class="row">
    <div class="col-md-12">
        <table class="table" style="text-align: center">
        <thead>
          <tr>
            <th>Day</th>
            <th></th>
            <th>Weather Description</th>
            <th>Temperature: High/Low</th>
            <th>Wind</th>
            <th>Pressure</th>
          </tr>
        </thead>
        <tbody *ngFor="let day of dailyForecast">
          <tr>
            <td>{{ day.day }}</td>
            <td class="image">
              <img [src]="day.img.img">
            </td>
            <td>{{ day.weatherDesc }}</td>
            <td>{{ day.max_temp }}˚/{{ day.min_temp }}˚</td>
            <td>{{ day.windSpeed }} mph</td>
            <td>{{ day.pressure }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>